<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.cloudshadow.mapper.ScreeningsMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chen.cloudshadow.pojo.Screenings">
        <id column="screening_id" property="screeningId" />
        <result column="movie_id" property="movieId" />
        <result column="hall_id" property="hallId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="price" property="price" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        screening_id, movie_id, hall_id, start_time, end_time, price, created_at, updated_at
    </sql>

</mapper>
